manifest {
    /* Homepage of project */
    homePage = 'https://github.com/cdeanj/amrplusplus'

    /* Description of project */
    description = 'AmrPlusPlus'

    /* Main pipeline script */
    mainScript = 'main.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

docker {
    /* Enables Docker execution */
    enabled = true

    /* Fixes ownership of outputs created inside of a Docker container */
    fixOwnership = true
}

env {
    /* Variable for Trimmomatic location in Docker container */
    TRIMMOMATIC='/opt/trimmomatic/Trimmomatic-0.36'
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_{1,2}.fastq"

    /* Location of host genome index files */
    host_index = ""

    /* Location of host genome */
    host = "data/host/chr21.fasta"
 
    /* Location of amr index files */
    amr_index = ""

    /* Location of antimicrobial resistance (AMR) database */
    amr = "data/amr/megares_database_v1.01.fasta"

    /* Location of amr annotation file */
    annotation = "data/amr/megares_annotations_v1.01.csv"

    /* Location of adapter sequences */
    adapters = "data/adapters/nextera.fa"

    /* Location of tab delimited adapter sequences */
    fqc_adapters = "data/adapters/nextera.tab"

    /* Output directory */
    output = "./test"

    /* Number of threads */
    threads = 16

    /* Trimmomatic trimming parameters */
    leading = 3
    trailing = 3
    slidingwindow = "4:15"
    minlen = 36

    /* Resistome threshold */
    threshold = 80

    /* Starting rarefaction level */
    min = 5

    /* Ending rarefaction level */
    max = 100

    /* Number of levels to skip */
    skip = 5

    /* Number of iterations to sample at */
    samples = 1

    /* Display help message */
    help = ""
}

process {
    $RunQC {
        container = "cdeanj/amrplusplus:trimmomatic"
        maxForks = 4
    }
    $BuildHostIndex {
        container = "cdeanj/amrplusplus:bwa"
        maxForks = 1
    }
    $AlignReadsToHost {
        container = "cdeanj/amrplusplus:bwa"
        maxForks = 4
    }
    $RemoveHostDNA {
        container = "cdeanj/amrplusplus:samtools"
        maxForks = 4
    }
    $BAMToFASTQ {
        container = "cdeanj/amrplusplus:bedtools2"
        maxForks = 4
    }
    $BuildAMRIndex {
        container = "cdeanj/amrplusplus:bwa"
        maxForks = 4
    }
    $AlignToAMR {
        container = "cdeanj/amrplusplus:bwa"
        maxForks = 4
    }
    $AnalyzeResistome {
        container = "cdeanj/amrplusplus:resistome"
        maxForks = 4
    }
    $AnalyzeRarefaction {
        container = "cdeanj/amrplusplus:rarefaction"
        maxForks = 4
    }
}
