manifest {
    /* Homepage of project */
    homePage = 'https://github.com/cdeanj/amrplusplus'

    /* Description of project */
    description = 'AmrPlusPlus'

    /* Main pipeline script */
    mainScript = 'main.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}
