manifest {
    /* Homepage of project */
    homePage = 'https://github.com/cdeanj/amrplusplus'

    /* Description of project */
    description = 'AmrPlusPlus'

    /* Main pipeline script */
    mainScript = 'main.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

docker {
    /* Enables Docker execution */
    enabled = true

    /* Fixes ownership of outputs created inside of a Docker container */
    fixOwnership = true
}

env {
    /* Variable for Trimmomatic location in Docker container */
    TRIMMOMATIC='/opt/trimmomatic/Trimmomatic-0.36'
}

params {
    /* Location of forward and reverse read pairs */
    reads = "data/raw/*_R{1,2}_{1,2}.fastq
}
