docker {
    enabled = true
    fixOwnership = true
}

process {
    maxForks = 8

    $AlignReadsToHost   { container = "colostatemeg/amrplusplus:bwa" }
    $AlignToAMR         { container = "colostatemeg/amrplusplus:bwa" }
    $AMRLongToWide      { container = "colostatemeg/amrplusplus:python" }
    $BAMToFASTQ         { container = "colostatemeg/amrplusplus:bedtools2" }
    $BuildAMRIndex      { container = "colostatemeg/amrplusplus:bwa" }
    $BuildHostIndex     { container = "colostatemeg/amrplusplus:bwa" }
    $HostRemovalStats	{ container = "colostatemeg/amrplusplus:python" }
    $KrakenLongToWide   { container = "colostatemeg/amrplusplus:numpy" }
    $QCStats		{ container = "colostatemeg/amrplusplus:python" }
    $RemoveHostDNA      { container = "colostatemeg/amrplusplus:samtools" }
    $RunKraken          { container = "colostatemeg/amrplusplus:kraken" }
    $RunQC              { container = "colostatemeg/amrplusplus:trimmomatic" }
    $RunRarefaction     { container = "colostatemeg/amrplusplus:rarefaction" }
    $RunResistome 	{ container = "colostatemeg/amrplusplus:resistome" }
    $RunSNPFinder 	{ container = "colostatemeg/amrplusplus:snpfinder" }
}
