docker {
    enabled = true
    fixOwnership = true
}

process {
    $RunQC 		{ container = "cdeanj/amrplusplus:trimmomatic" }
    $BuildHostIndex 	{ container = "cdeanj/amrplusplus:bwa" }
    $AlignReadsToHost 	{ container = "cdeanj/amrplusplus:bwa" }
    $RemoveHostDNA 	{ container = "cdeanj/amrplusplus:samtools" }
    $BAMToFASTQ 	{ container = "cdeanj/amrplusplus:bedtools2" }
    $BuildAMRIndex 	{ container = "cdeanj/amrplusplus:bwa" }
    $AlignToAMR 	{ container = "cdeanj/amrplusplus:bwa" }
    $RunResistome 	{ container = "cdeanj/amrplusplus:resistome" }
    $RunRarefaction 	{ container = "cdeanj/amrplusplus:rarefaction" }
    $RunSNPFinder 	{ container = "cdeanj/amrplusplus:snpfinder" }
}
