docker {
    enabled = true
    fixOwnership = true
}

process {
    $AlignReadsToHost   { container = "cdeanj/amrplusplus:bwa" }
    $AlignToAMR         { container = "cdeanj/amrplusplus:bwa" }
    $AMRLongToWide      { container = "cdeanj/amrplusplus:python" }
    $BAMToFASTQ         { container = "cdeanj/amrplusplus:bedtools2" }
    $BuildAMRIndex      { container = "cdeanj/amrplusplus:bwa" }
    $BuildHostIndex     { container = "cdeanj/amrplusplus:bwa" }
    $KrakenLongToWide   { container = "cdeanj/amrplusplus:numpy" }
    $RemoveHostDNA      { container = "cdeanj/amrplusplus:samtools" }
    $RunQC              { container = "cdeanj/amrplusplus:trimmomatic" }
    $RunRarefaction     { container = "cdeanj/amrplusplus:rarefaction" }
    $RunResistome 	{ container = "cdeanj/amrplusplus:resistome" }
    $RunSNPFinder 	{ container = "cdeanj/amrplusplus:snpfinder" }
}
